<a href="https://colab.research.google.com/github/Mahjabeenqamar1/Sentiment-Analysis-LSTM-/blob/main/Sentiment_Analysis_(LSTM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

##

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import nltk
from nltk.corpus import stopwords
import re
import joblib
from keras.preprocessing.text import Tokenizer
import gensim
from keras.preprocessing.sequence import pad_sequences
from sklearn.preprocessing import LabelEncoder
from keras.layers import Embedding
from keras.models import Sequential
from keras.layers import Dense,LSTM,Dropout
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Data_set/training.1600000.processed.noemoticon.csv",encoding='latin-1',header=None)

In [ ]:
df.head()

   0  ...                                                  5
0  0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  0  ...  is upset that he can't update his Facebook by ...
2  0  ...  @Kenichan I dived many times for the ball. Man...
3  0  ...    my whole body feels itchy and like its on fire
4  0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In the Dataset we can see that there is no column names present so we add the column names of the Data.

In [ ]:


columns=['target','ids','date','flag','user','text']
df.columns=columns

In [ ]:
df.head()

   target  ...                                               text
0       0  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  ...  is upset that he can't update his Facebook by ...
2       0  ...  @Kenichan I dived many times for the ball. Man...
3       0  ...    my whole body feels itchy and like its on fire
4       0  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

Data Preprocessing

Tweets contains a lot of emoticons, abbreviations and creative ways of expressing excitment such as long tailing (ex. happyyyy). We normalize all letters to lowercase and remove any ”@USERNAME” and ”#hashtag” because they did not affect the sentiment of text.

Removing Stopwords

Stemming

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

Replacing the target Values by Positive,Negative and Neutral

In [ ]:
df.head()

     target  ...                                               text
0  Negative  ...  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  Negative  ...  is upset that he can't update his Facebook by ...
2  Negative  ...  @Kenichan I dived many times for the ball. Man...
3  Negative  ...    my whole body feels itchy and like its on fire
4  Negative  ...  @nationwideclass no, it's not behaving at all....

[5 rows x 6 columns]

In [ ]:
stop_words=set(stopwords.words('english'))
stop_words.remove('not')

In [ ]:
corpus=[]
for i in range(0,len(df)):
    review=re.sub('@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+',' ',df['text'][i])
    review=review.lower()
    review=review.split()
    review=[word for word in review if not word in stop_words]
    review=' '.join(review)
    corpus.append(review)



Replacing the text column with preprocessed text

In [ ]:
df.text=corpus

In [ ]:
df.head()

     target  ...                                               text
0  Negative  ...       awww bummer shoulda got david carr third day
1  Negative  ...  upset update facebook texting might cry result...
2  Negative  ...  dived many times ball managed save 50 rest go ...
3  Negative  ...                   whole body feels itchy like fire
4  Negative  ...                               not behaving mad see

[5 rows x 6 columns]



Splitting the Data into Training and Test set

In [ ]:
from sklearn.model_selection import train_test_split
train_df,test_df=train_test_split(df,test_size=0.20,random_state=123)

In [ ]:
train_df.head()

           target  ...                                               text
1578903  Positive  ...                   withholding information shae yup
51568    Negative  ...  uhhh ummmmm yes dear keep coming tweetups prom...
569210   Negative  ...  amazing time wannqa come home come back suitca...
71896    Negative  ...          ouch wrist hurts gym accident see surgeon
405089   Negative  ...                            going crazy work school

[5 rows x 6 columns]


Word2Vec Model

In [ ]:
documents = [text.split() for text in train_df.text]

In [ ]:
w2v_model = gensim.models.word2vec.Word2Vec(size=300, ## one hot encodeind
                                            window=7,          
                                            min_count=10, 
                                            workers=8)

In [ ]:
w2v_model.build_vocab(documents)

In [ ]:
words = w2v_model.wv.vocab.keys()
vocab_size = len(words)
print("Vocab size", vocab_size)

Vocab size 30446

In [ ]:


w2v_model.train(documents, total_examples=len(documents), epochs=30)

(248021754, 279410310)

In [ ]:


w2v_model.wv.most_similar("good")

[('great', 0.6885119676589966),
 ('goood', 0.5697886943817139),
 ('bad', 0.5605125427246094),
 ('gooood', 0.5314722061157227),
 ('gooooood', 0.5167181491851807),
 ('nice', 0.48782533407211304),
 ('gd', 0.4663253724575043),
 ('gud', 0.4651547074317932),
 ('rough', 0.45763182640075684),
 ('goooood', 0.4545465111732483)]

In [ ]:
w2v_model.wv.most_similar("hate")

[('hates', 0.551250696182251),
 ('sucks', 0.4870941936969757),
 ('suck', 0.4769120216369629),
 ('stupid', 0.47291573882102966),
 ('h8', 0.43198832869529724),
 ('dislike', 0.4319857954978943),
 ('annoying', 0.42702531814575195),
 ('hating', 0.42481520771980286),
 ('despise', 0.4221572279930115),
 ('ugh', 0.4125872850418091)]

In [ ]:
w2v_model.wv.most_similar("great")

[('fantastic', 0.73514723777771),
 ('wonderful', 0.6997291445732117),
 ('awesome', 0.692935585975647),
 ('good', 0.6885119676589966),
 ('fabulous', 0.6531974077224731),
 ('amazing', 0.6460429430007935),
 ('fab', 0.6041921377182007),
 ('excellent', 0.583431601524353),
 ('nice', 0.5736099481582642),
 ('gr8', 0.5569304823875427)]

In [ ]:


tokenizer = Tokenizer()
tokenizer.fit_on_texts(train_df.text)

In [ ]:


tokenizer.word_index

{'not': 1,
 'good': 2,
 'day': 3,
 'get': 4,
 'like': 5,
 'go': 6,
 'quot': 7,
 'today': 8,
 'work': 9,
 'love': 10,
 'going': 11,
 'got': 12,
 'lol': 13,
 'time': 14,
 'back': 15,
 'u': 16,
 'one': 17,
 'know': 18,
 'im': 19,
 'really': 20,
 'amp': 21,
 'see': 22,
 'night': 23,
 'still': 24,
 '2': 25,
 'well': 26,
 'want': 27,
 'new': 28,
 'think': 29,
 'home': 30,
 'thanks': 31,
 'oh': 32,
 'much': 33,
 'miss': 34,
 'need': 35,
 'last': 36,
 'morning': 37,
 'tomorrow': 38,
 'hope': 39,
 'great': 40,
 'twitter': 41,
 '3': 42,
 'haha': 43,
 'feel': 44,
 'sad': 45,
 'fun': 46,
 'wish': 47,
 'sleep': 48,
 'right': 49,
 'would': 50,
 'bad': 51,
 'happy': 52,
 'sorry': 53,
 'tonight': 54,
 'come': 55,
 'make': 56,
 'way': 57,
 'getting': 58,
 'though': 59,
 'gonna': 60,
 'nice': 61,
 'better': 62,
 'watching': 63,
 'yeah': 64,
 'wait': 65,
 'bed': 66,
 'could': 67,
 'week': 68,
 'school': 69,
 'people': 70,
 'hate': 71,
 'days': 72,
 'even': 73,
 'hey': 74,
 'next': 75,
 '4': 76,
 'yes': 77,
 'weekend': 78,
 'lt': 79,
 'awesome': 80,
 'dont': 81,
 'thank': 82,
 'never': 83,
 'soon': 84,
 'cant': 85,
 'take': 86,
 'long': 87,
 'working': 88,
 'little': 89,
 'first': 90,
 'wanna': 91,
 'please': 92,
 'say': 93,
 'best': 94,
 'everyone': 95,
 'show': 96,
 'tired': 97,
 'ok': 98,
 'life': 99,
 'sick': 100,
 'watch': 101,
 'done': 102,
 'feeling': 103,
 '1': 104,
 'let': 105,
 'always': 106,
 'sure': 107,
 'thing': 108,
 'x': 109,
 'already': 110,
 'another': 111,
 'friends': 112,
 'cool': 113,
 'us': 114,
 'something': 115,
 'find': 116,
 'man': 117,
 'guys': 118,
 'ready': 119,
 'made': 120,
 'looking': 121,
 'yay': 122,
 'phone': 123,
 'yet': 124,
 'look': 125,
 'went': 126,
 'hours': 127,
 'house': 128,
 'ur': 129,
 'movie': 130,
 'ever': 131,
 'pretty': 132,
 'maybe': 133,
 'n': 134,
 'trying': 135,
 'omg': 136,
 'away': 137,
 'summer': 138,
 'tweet': 139,
 'finally': 140,
 'old': 141,
 '5': 142,
 'early': 143,
 'help': 144,
 'amazing': 145,
 'damn': 146,
 'follow': 147,
 'things': 148,
 'someone': 149,
 'lost': 150,
 'guess': 151,
 'left': 152,
 'friend': 153,
 'keep': 154,
 'big': 155,
 'year': 156,
 'wow': 157,
 'thought': 158,
 'bit': 159,
 'hot': 160,
 'missed': 161,
 'ya': 162,
 'nothing': 163,
 'rain': 164,
 'sucks': 165,
 'bored': 166,
 'glad': 167,
 'girl': 168,
 'try': 169,
 'start': 170,
 'tell': 171,
 'also': 172,
 'birthday': 173,
 'baby': 174,
 'looks': 175,
 'live': 176,
 'coming': 177,
 'sun': 178,
 'weather': 179,
 'later': 180,
 'two': 181,
 'song': 182,
 'w': 183,
 'actually': 184,
 'hear': 185,
 'ugh': 186,
 'saw': 187,
 'party': 188,
 'stuff': 189,
 'makes': 190,
 'waiting': 191,
 'excited': 192,
 'might': 193,
 'play': 194,
 'hard': 195,
 'game': 196,
 'said': 197,
 'god': 198,
 'yesterday': 199,
 'thats': 200,
 'since': 201,
 'world': 202,
 'hi': 203,
 'gotta': 204,
 'lot': 205,
 'late': 206,
 'around': 207,
 'mom': 208,
 'music': 209,
 'car': 210,
 'sounds': 211,
 'many': 212,
 'check': 213,
 'b': 214,
 'luck': 215,
 'friday': 216,
 'must': 217,
 'head': 218,
 'found': 219,
 'r': 220,
 'cold': 221,
 'give': 222,
 'job': 223,
 'read': 224,
 'call': 225,
 'sunday': 226,
 'aww': 227,
 'making': 228,
 'beautiful': 229,
 'gone': 230,
 'may': 231,
 'talk': 232,
 'missing': 233,
 'com': 234,
 'put': 235,
 'anything': 236,
 'monday': 237,
 'poor': 238,
 'stop': 239,
 'woke': 240,
 'least': 241,
 'till': 242,
 'almost': 243,
 'leave': 244,
 'hair': 245,
 'family': 246,
 'lunch': 247,
 'free': 248,
 'use': 249,
 'tho': 250,
 'okay': 251,
 'times': 252,
 'cute': 253,
 'far': 254,
 'food': 255,
 'hurts': 256,
 'end': 257,
 'iphone': 258,
 'wanted': 259,
 'mean': 260,
 'hour': 261,
 'listening': 262,
 'eat': 263,
 'dinner': 264,
 '10': 265,
 'funny': 266,
 'everything': 267,
 'enjoy': 268,
 'gt': 269,
 'followers': 270,
 'anyone': 271,
 'finished': 272,
 'playing': 273,
 'welcome': 274,
 'sweet': 275,
 'believe': 276,
 'shit': 277,
 'forward': 278,
 'thinking': 279,
 '6': 280,
 'without': 281,
 'video': 282,
 'cause': 283,
 'hahaha': 284,
 'totally': 285,
 'mine': 286,
 'coffee': 287,
 'stupid': 288,
 'outside': 289,
 'enough': 290,
 'real': 291,
 'buy': 292,
 'ill': 293,
 'every': 294,
 'anymore': 295,
 'didnt': 296,
 'wrong': 297,
 'p': 298,
 'probably': 299,
 'room': 300,
 'weeks': 301,
 'tweets': 302,
 'eating': 303,
 'ha': 304,
 'place': 305,
 'tv': 306,
 'money': 307,
 'stay': 308,
 'c': 309,
 'dad': 310,
 'wants': 311,
 'busy': 312,
 'sooo': 313,
 'win': 314,
 'following': 315,
 'xx': 316,
 'lovely': 317,
 'saturday': 318,
 '30': 319,
 'seen': 320,
 'pic': 321,
 'kinda': 322,
 'class': 323,
 'whole': 324,
 'says': 325,
 'taking': 326,
 '8': 327,
 'came': 328,
 '7': 329,
 'kids': 330,
 'hopefully': 331,
 'beach': 332,
 'crazy': 333,
 'headache': 334,
 'exam': 335,
 'super': 336,
 'name': 337,
 'took': 338,
 'half': 339,
 'awww': 340,
 'guy': 341,
 'news': 342,
 'true': 343,
 'hello': 344,
 'hell': 345,
 'idea': 346,
 'goodnight': 347,
 'post': 348,
 'book': 349,
 'face': 350,
 'years': 351,
 'ago': 352,
 'able': 353,
 'lots': 354,
 'run': 355,
 'else': 356,
 'forgot': 357,
 'meet': 358,
 'reading': 359,
 'full': 360,
 'shopping': 361,
 'leaving': 362,
 'either': 363,
 'sitting': 364,
 'rest': 365,
 'girls': 366,
 'computer': 367,
 'send': 368,
 'used': 369,
 'ah': 370,
 'feels': 371,
 'soo': 372,
 'boo': 373,
 'hurt': 374,
 'cuz': 375,
 'blog': 376,
 'remember': 377,
 'seems': 378,
 'raining': 379,
 'hehe': 380,
 'alone': 381,
 'watched': 382,
 'office': 383,
 'dog': 384,
 'talking': 385,
 'fuck': 386,
 'hit': 387,
 'heart': 388,
 'btw': 389,
 'tried': 390,
 'trip': 391,
 'needs': 392,
 'heard': 393,
 'stuck': 394,
 'mind': 395,
 'internet': 396,
 'kind': 397,
 'course': 398,
 'www': 399,
 'part': 400,
 'wont': 401,
 'started': 402,
 'boy': 403,
 'seeing': 404,
 'online': 405,
 'quite': 406,
 'awake': 407,
 'add': 408,
 'using': 409,
 'break': 410,
 'pain': 411,
 'picture': 412,
 'cry': 413,
 'pics': 414,
 'loved': 415,
 'breakfast': 416,
 'told': 417,
 'fine': 418,
 'facebook': 419,
 'person': 420,
 'boring': 421,
 'change': 422,
 'til': 423,
 'wake': 424,
 'goes': 425,
 'seriously': 426,
 'sunny': 427,
 'update': 428,
 'ass': 429,
 'broke': 430,
 'care': 431,
 'bought': 432,
 'starting': 433,
 'dude': 434,
 'gets': 435,
 'lmao': 436,
 'lucky': 437,
 'open': 438,
 'asleep': 439,
 'season': 440,
 'minutes': 441,
 'june': 442,
 'concert': 443,
 'pay': 444,
 'reply': 445,
 'la': 446,
 'sister': 447,
 'called': 448,
 'hungry': 449,
 'month': 450,
 'anyway': 451,
 '9': 452,
 'aw': 453,
 'link': 454,
 'bring': 455,
 'crap': 456,
 'afternoon': 457,
 'site': 458,
 'drive': 459,
 'walk': 460,
 '100': 461,
 'shower': 462,
 'heading': 463,
 'text': 464,
 'favorite': 465,
 'sleeping': 466,
 'train': 467,
 'study': 468,
 'instead': 469,
 'fan': 470,
 'yea': 471,
 'xd': 472,
 'ice': 473,
 'bye': 474,
 'e': 475,
 'jealous': 476,
 'enjoying': 477,
 'red': 478,
 'exams': 479,
 'bout': 480,
 'rock': 481,
 'mother': 482,
 'hoping': 483,
 'definitely': 484,
 'move': 485,
 'wonderful': 486,
 'mad': 487,
 'brother': 488,
 'high': 489,
 'together': 490,
 'dead': 491,
 'city': 492,
 'soooo': 493,
 'dear': 494,
 'problem': 495,
 'sore': 496,
 'fail': 497,
 '0': 498,
 'running': 499,
 'congrats': 500,
 '12': 501,
 'homework': 502,
 'sometimes': 503,
 'l': 504,
 'died': 505,
 'finish': 506,
 'nite': 507,
 'youtube': 508,
 'works': 509,
 'means': 510,
 'email': 511,
 'goin': 512,
 'ask': 513,
 'movies': 514,
 'fucking': 515,
 'write': 516,
 'album': 517,
 'happened': 518,
 'sigh': 519,
 'suck': 520,
 'drink': 521,
 'set': 522,
 'tea': 523,
 'top': 524,
 'town': 525,
 'couple': 526,
 'church': 527,
 'cut': 528,
 'laptop': 529,
 'boys': 530,
 'comes': 531,
 'evening': 532,
 'perfect': 533,
 'ppl': 534,
 'less': 535,
 'loves': 536,
 'ipod': 537,
 'eyes': 538,
 '20': 539,
 'tour': 540,
 'water': 541,
 'months': 542,
 'reason': 543,
 'weird': 544,
 'songs': 545,
 'happen': 546,
 'sound': 547,
 'side': 548,
 'gym': 549,
 'nap': 550,
 'fall': 551,
 'visit': 552,
 'dream': 553,
 'ive': 554,
 'final': 555,
 'studying': 556,
 'meeting': 557,
 'cream': 558,
 'listen': 559,
 'test': 560,
 'cat': 561,
 'close': 562,
 'ones': 563,
 'dance': 564,
 'seem': 565,
 'tickets': 566,
 'mood': 567,
 'loving': 568,
 'english': 569,
 'interesting': 570,
 'lil': 571,
 'catch': 572,
 'list': 573,
 'store': 574,
 'fb': 575,
 'agree': 576,
 'ate': 577,
 'hang': 578,
 '11': 579,
 'turn': 580,
 'writing': 581,
 'knew': 582,
 'story': 583,
 'second': 584,
 'fast': 585,
 'worst': 586,
 'pool': 587,
 'moment': 588,
 'clean': 589,
 'ahh': 590,
 'air': 591,
 'word': 592,
 'chocolate': 593,
 'ride': 594,
 'smile': 595,
 'london': 596,
 'awards': 597,
 'saying': 598,
 'page': 599,
 'broken': 600,
 'hmm': 601,
 'yep': 602,
 'moving': 603,
 'wishing': 604,
 'supposed': 605,
 'unfortunately': 606,
 'via': 607,
 'worth': 608,
 'photo': 609,
 'dreams': 610,
 'park': 611,
 'throat': 612,
 'three': 613,
 'xxx': 614,
 'wedding': 615,
 'sunshine': 616,
 'black': 617,
 '1st': 618,
 'driving': 619,
 'pictures': 620,
 'past': 621,
 'cleaning': 622,
 'sleepy': 623,
 'forget': 624,
 'da': 625,
 'sent': 626,
 'short': 627,
 'sat': 628,
 'horrible': 629,
 'g': 630,
 'gave': 631,
 'myspace': 632,
 'understand': 633,
 'star': 634,
 'jonas': 635,
 'tweeting': 636,
 'mum': 637,
 'slow': 638,
 'em': 639,
 'k': 640,
 'followfriday': 641,
 'pick': 642,
 'drinking': 643,
 'plan': 644,
 'mac': 645,
 'college': 646,
 'worse': 647,
 'account': 648,
 'chance': 649,
 '15': 650,
 'lady': 651,
 'moon': 652,
 'team': 653,
 'whats': 654,
 'green': 655,
 'hugs': 656,
 'wonder': 657,
 'doesnt': 658,
 'flight': 659,
 'miley': 660,
 'easy': 661,
 'date': 662,
 'rather': 663,
 'longer': 664,
 'fell': 665,
 'hand': 666,
 'special': 667,
 'apparently': 668,
 'mr': 669,
 'upset': 670,
 'bet': 671,
 'holiday': 672,
 'uk': 673,
 'point': 674,
 'updates': 675,
 'scared': 676,
 'tuesday': 677,
 'nope': 678,
 'bday': 679,
 'flu': 680,
 'cannot': 681,
 'due': 682,
 'vote': 683,
 'huge': 684,
 'spent': 685,
 'plans': 686,
 'wtf': 687,
 'parents': 688,
 'band': 689,
 'mtv': 690,
 'vacation': 691,
 'words': 692,
 'hanging': 693,
 'plus': 694,
 'ahhh': 695,
 'earlier': 696,
 'spend': 697,
 'thx': 698,
 'wondering': 699,
 'website': 700,
 'fair': 701,
 'white': 702,
 'forever': 703,
 'body': 704,
 'shame': 705,
 'especially': 706,
 'worry': 707,
 'join': 708,
 'bus': 709,
 'line': 710,
 'lazy': 711,
 'idk': 712,
 'david': 713,
 'thursday': 714,
 'message': 715,
 'shows': 716,
 'v': 717,
 'stomach': 718,
 'sadly': 719,
 'lets': 720,
 'thinks': 721,
 'wear': 722,
 'beer': 723,
 'slept': 724,
 'cake': 725,
 'warm': 726,
 'answer': 727,
 'voice': 728,
 'tom': 729,
 'july': 730,
 'looked': 731,
 'google': 732,
 'learn': 733,
 'fans': 734,
 'figure': 735,
 'different': 736,
 'bbq': 737,
 'die': 738,
 'inside': 739,
 'havent': 740,
 'support': 741,
 'yummy': 742,
 'meant': 743,
 'eye': 744,
 'chat': 745,
 'number': 746,
 'boyfriend': 747,
 'rainy': 748,
 'camera': 749,
 'fix': 750,
 'pizza': 751,
 'airport': 752,
 'photos': 753,
 'except': 754,
 'f': 755,
 'safe': 756,
 'met': 757,
 'son': 758,
 'episode': 759,
 'small': 760,
 'crying': 761,
 'power': 762,
 'dress': 763,
 'sims': 764,
 'liked': 765,
 'graduation': 766,
 'luv': 767,
 'shop': 768,
 'paper': 769,
 'officially': 770,
 '2day': 771,
 'save': 772,
 'tummy': 773,
 'radio': 774,
 'finals': 775,
 'dm': 776,
 'project': 777,
 'laugh': 778,
 'shirt': 779,
 'shall': 780,
 'garden': 781,
 'decided': 782,
 'proud': 783,
 'worked': 784,
 'apple': 785,
 'absolutely': 786,
 'games': 787,
 'kid': 788,
 'beat': 789,
 'hubby': 790,
 'felt': 791,
 'alright': 792,
 'chicken': 793,
 'bike': 794,
 'hug': 795,
 'yup': 796,
 'twilight': 797,
 'kill': 798,
 'shoes': 799,
 'lonely': 800,
 'blue': 801,
 'cd': 802,
 'wit': 803,
 'woo': 804,
 'gorgeous': 805,
 'needed': 806,
 'sign': 807,
 'annoying': 808,
 'road': 809,
 'books': 810,
 'exciting': 811,
 'hospital': 812,
 'keeps': 813,
 'brothers': 814,
 'card': 815,
 'wednesday': 816,
 'club': 817,
 'babe': 818,
 'played': 819,
 'hmmm': 820,
 'lame': 821,
 'exactly': 822,
 'packing': 823,
 'xoxo': 824,
 'french': 825,
 'front': 826,
 'case': 827,
 'starts': 828,
 'wine': 829,
 'taken': 830,
 'wishes': 831,
 'near': 832,
 'ouch': 833,
 'scary': 834,
 'living': 835,
 'cos': 836,
 'hates': 837,
 'feet': 838,
 'goodbye': 839,
 'turned': 840,
 'fact': 841,
 'bro': 842,
 'realized': 843,
 'happens': 844,
 'order': 845,
 'knows': 846,
 '2nd': 847,
 'share': 848,
 'isnt': 849,
 'behind': 850,
 'jus': 851,
 'drunk': 852,
 'business': 853,
 'cup': 854,
 'walking': 855,
 'waking': 856,
 'although': 857,
 'yo': 858,
 'service': 859,
 'j': 860,
 'mothers': 861,
 'touch': 862,
 'whatever': 863,
 'download': 864,
 'gettin': 865,
 'question': 866,
 'sold': 867,
 'everybody': 868,
 'pass': 869,
 'clothes': 870,
 'minute': 871,
 'relaxing': 872,
 'along': 873,
 'hahah': 874,
 'videos': 875,
 'app': 876,
 'alot': 877,
 'giving': 878,
 'wife': 879,
 'lose': 880,
 'mail': 881,
 'vegas': 882,
 'killing': 883,
 'box': 884,
 'random': 885,
 'company': 886,
 'posted': 887,
 'sis': 888,
 'fly': 889,
 'sit': 890,
 'film': 891,
 'guitar': 892,
 'lakers': 893,
 'round': 894,
 'hangover': 895,
 'single': 896,
 'fantastic': 897,
 'revision': 898,
 'staying': 899,
 'terrible': 900,
 'version': 901,
 'passed': 902,
 'enjoyed': 903,
 'light': 904,
 'web': 905,
 'ahead': 906,
 'comment': 907,
 'interview': 908,
 'indeed': 909,
 'huh': 910,
 'eh': 911,
 'self': 912,
 'gosh': 913,
 'history': 914,
 'plane': 915,
 'bummed': 916,
 'mins': 917,
 'bitch': 918,
 'dying': 919,
 'ohh': 920,
 'mommy': 921,
 'aint': 922,
 'asked': 923,
 'daughter': 924,
 'singing': 925,
 'deal': 926,
 'vip': 927,
 'usually': 928,
 'fml': 929,
 'upload': 930,
 'lately': 931,
 'hun': 932,
 'completely': 933,
 'nights': 934,
 'dark': 935,
 'shoot': 936,
 'bar': 937,
 'peace': 938,
 'bloody': 939,
 'sexy': 940,
 'cook': 941,
 'cheese': 942,
 'death': 943,
 'disappointed': 944,
 'nobody': 945,
 'freaking': 946,
 'dvd': 947,
 'headed': 948,
 'worried': 949,
 'fat': 950,
 'currently': 951,
 'hotel': 952,
 'camp': 953,
 'extra': 954,
 'changed': 955,
 'sing': 956,
 'ff': 957,
 'bb': 958,
 'pink': 959,
 'wearing': 960,
 'fingers': 961,
 'awful': 962,
 'country': 963,
 'traffic': 964,
 'quick': 965,
 'yum': 966,
 'others': 967,
 'hold': 968,
 'exhausted': 969,
 'serious': 970,
 '24': 971,
 '50': 972,
 'caught': 973,
 'nick': 974,
 'pissed': 975,
 'art': 976,
 'watchin': 977,
 'blah': 978,
 'daddy': 979,
 'ran': 980,
 'matter': 981,
 'blood': 982,
 'coz': 983,
 'door': 984,
 'dunno': 985,
 'low': 986,
 'spending': 987,
 'pc': 988,
 'chillin': 989,
 'closed': 990,
 'profile': 991,
 'somewhere': 992,
 'dang': 993,
 'itunes': 994,
 'hrs': 995,
 'fixed': 996,
 'maths': 997,
 'nearly': 998,
 'cousin': 999,
 'nose': 1000,
 ...}

In [ ]:
vocab_size=len(tokenizer.word_index)+1
vocab_size

290653

In [ ]:
X_train = pad_sequences(tokenizer.texts_to_sequences(train_df.text), maxlen=300)
X_train

array([[    0,     0,     0, ...,  3008, 21821,   796],
       [    0,     0,     0, ...,     7,   531,  2976],
       [    0,     0,     0, ...,  9856,   874,   109],
       ...,
       [    0,     0,     0, ...,   262,   774,     1],
       [    0,     0,     0, ...,   158, 17570,    11],
       [    0,     0,     0, ...,     7, 32054,     7]], dtype=int32)

In [ ]:
X_test = pad_sequences(tokenizer.texts_to_sequences(test_df.text), maxlen=300)
X_test

array([[    0,     0,     0, ...,   256,  1664,   199],
       [    0,     0,     0, ...,  6190,  1790,    75],
       [    0,     0,     0, ...,  4779,   806,   111],
       ...,
       [    0,     0,     0, ...,   572, 66636,  1913],
       [    0,     0,     0, ...,   471,    82,   198],
       [    0,     0,     0, ...,   203,   337,  5137]], dtype=int32)

In [ ]:
y_train=train_df.target
y_train.head()

1578903    Positive
51568      Negative
569210     Negative
71896      Negative
405089     Negative
Name: target, dtype: object

In [ ]:
y_test=test_df.target
y_test.head()

448282     Negative
1475261    Positive
132529     Negative
182348     Negative
907614     Positive
Name: target, dtype: object



Encoding the Categorical target into 0 and 1

In [ ]:
labelencoder = LabelEncoder()
y_train = labelencoder.fit_transform(y_train)
y_test=labelencoder.fit_transform(y_test)

In [ ]:
y_train.shape

(1280000,)

In [ ]:
y_test.shape

(320000,)



Embedding Matrix

In [ ]:
embedding_matrix = np.zeros((vocab_size, 300))
for word, i in tokenizer.word_index.items():
  if word in w2v_model.wv:
    embedding_matrix[i] = w2v_model.wv[word]
print(embedding_matrix.shape)

(290653, 300)

In [ ]:
embedding_layer = Embedding(vocab_size, 300, weights=[embedding_matrix], input_length=300, trainable=False)



Build Model using LSTM

In [ ]:


model = Sequential()
model.add(embedding_layer)
model.add(Dropout(0.5))
model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 300, 300)          87195900
_________________________________________________________________
dropout (Dropout)            (None, 300, 300)          0
_________________________________________________________________
lstm (LSTM)                  (None, 100)               160400
_________________________________________________________________
dense (Dense)                (None, 1)                 101
=================================================================
Total params: 87,356,401
Trainable params: 160,501
Non-trainable params: 87,195,900
_________________________________________________________________

Compile Model

In [ ]:
model.compile(loss='binary_crossentropy',
              optimizer="adam",
              metrics=['accuracy'])

In [ ]:
model_history=model.fit(X_train, y_train,batch_size=1024,epochs=5,validation_split=0.1,verbose=1)

Epoch 1/5
1125/1125 [==============================] - 13770s 12s/step - loss: 0.4993 - accuracy: 0.7543 - val_loss: 0.4576 - val_accuracy: 0.7855
Epoch 2/5
  54/1125 [>.............................] - ETA: 3:26:26 - loss: 0.4810 - accuracy: 0.7663



Fitting the Model

In [ ]:
acc = model_history.history['accuracy']
val_acc = model_history.history['val_accuracy']
loss = model_history.history['loss']
val_loss = model_history.history['val_loss']
epochs=range(len(acc))

In [ ]:


plt.plot(epochs,acc,label='Trainin_acc',color='blue')
plt.plot(epochs,val_acc,label='Validation_acc',color='red')
plt.legend()
plt.title("Training and Validation Accuracy")

In [ ]:
plt.plot(epochs,loss,label='Training_loss',color='blue')
plt.plot(epochs,val_loss,label='Validation_loss',color='red')
plt.legend()
plt.title("Training and Validation loss")



Preprocessing of tweets given by user

In [ ]:


def preprocess(text):
    review=re.sub('@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+',' ',text)
    review=review.lower()
    review=review.split()
    review=[word for word in review if not word in stop_words]
    print(review)
    review=pad_sequences(tokenizer.texts_to_sequences([review]), maxlen=300)
    return review



Prediction

In [ ]:
def prediction(review):
    review=preprocess(review)
    score=model.predict(review)
    score=score[0]
    if score<0.4:
        print("Negative")
    elif score>0.4 and score<0.6:
        print("Neutral")
    else:
        print("Positive")
    print(score)

In [ ]:
prediction("the food is not bad")

In [ ]:


prediction("the film was horrible")

In [ ]:


scores = model.predict(X_test, verbose=1, batch_size=1024)

In [ ]:
scores

In [ ]:


y_pred=np.where(scores>0.5,1,0)

In [ ]:


y_pred

In [ ]:
y_test



Evaluation Using Confusion Matrix, accuracy_score and classification report

In [ ]:
cm=confusion_matrix(y_pred,y_test)
print(cm)

In [ ]:
print(accuracy_score(y_pred,y_test))

In [ ]:
print(classification_report(y_test, y_pred))



Saving the Trained Models

In [ ]:


joblib.dump(w2v_model,'word2vec.pkl')
joblib.dump(tokenizer,'tokenizer.pkl')
joblib.dump(model,'final_model.pkl')

https://www.kaggle.com/prashant268/sentiment-analysis-lstm/notebook